@import "constants";

.input {
    margin: 0 $input-gutter-size * 2;
    max-width: $input-max-width;
    display: block;
    height: $input-height;
    position: relative;
    font-family: $input-font-stack;


    .label {
        position: absolute;
        top: $input-gutter-size;
        left: $input-gutter-size;
        height: $input-label-font-size;
        font-size: $input-label-font-size;
        color: $input-focused-color-accent;
        font-weight: 300;
        transition: left, opacity, color;
        transition-duration: $input-transition-time;
    }

    .message {
        position: absolute;
        top: $input-gutter-size * 6 + $input-font-size;
        opacity: 0;
        left: 2 * $input-gutter-size;
        height: $input-label-font-size + $input-gutter-size;
        font-size: $input-label-font-size;
        color: $input-focused-color-accent;
        font-weight: 300;
        transition: left, opacity;
        transition-duration: $input-transition-time;
        width: calc(100% - #{2 * $input-gutter-size});
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        &.enabled {
            opacity: 1;
            left: $input-gutter-size;
        }
    }

    

    &.focused {

        .label {
            color: $input-focused-color;
        }
    }

    &.valid {

        .label, .message {
            color: $input-validated-color;
        }
    }

    &.invalid {

        .label, .message {
            color: $input-error-color;
        }
    }

    &.dropdown {
        select {
            position: absolute;
            width: 100%;
            top: $input-gutter-size + $input-label-font-size;
            left: 0;
            height: $input-font-size + 2 * $input-gutter-size;
            -webkit-appearance: none;
            background-color: transparent;
            border: 0px;
            border-radius: 0px;
            outline: none!important;
            font-size: $input-font-size;
            font-weight: 300;
            padding: $input-gutter-size / 2;
            margin: $input-gutter-size / 2;
            cursor: pointer;
            transition: background-color, color;
            transition-duration: $input-transition-time;

            &:hover {
                background-color: $input-focused-color-accent;
            }

            &:focus {
                background-color: $input-focused-color;
                color: white;
            }
        }
    }

    &.text {
        transition: border-color, border-width;
        transition-duration: $input-transition-time;

        .label {
            opacity: 0;
            left: 2 * $input-gutter-size;
        }

        .indicator, .loader {
            position: absolute;
            display: block;
            top: $input-gutter-size * 2 + $input-label-font-size;
            right: $input-gutter-size * 2;
            opacity: 0;
            transition: right, opacity;
            transition-duration: $input-transition-time;

            &.valid {
                color: $input-validated-color;
                fill: $input-validated-color;
            }

            &.invalid {
                color: $input-error-color;
                fill: $input-error-color;
            }

            &.enabled {
                right: $input-gutter-size * 3;
                opacity: 1;
            }
        }

        .indicator {
            width: 1.25em;
            height: 1.25em;
        }

        .placeholder, input {
            position: absolute;
            padding: $input-gutter-size;
            padding-right: $input-font-size + 2 * $input-gutter-size;
            background-color: transparent;
            top: $input-gutter-size + $input-label-font-size;
            left: 0;
            height: $input-font-size + 2 * $input-gutter-size;
            color: $input-unfocused-color;
            font-size: $input-font-size;
            font-weight: 300;
            outline: none!important;
            width: 100%;
            transition: left, opacity;
            transition-duration: $input-transition-time;
            box-sizing: border-box;
        }

        input {
            border: 0;
            border-bottom: 1px solid $input-unfocused-color;
            border-color: $input-unfocused-color;
            border-width: 1px;
        }

        &.dirty {

            input {
                border-color: $input-dirty-color;
                color: $input-dirty-color;
            }
        }

        &.valid {
            input {
                border-color: $input-validated-color;
            }
        }

        &.invalid {
            input {
                border-color: $input-error-color;
            }
        }

        &.focused {
            input {
                border-color: $input-focused-color;
            }
            .placeholder {
                opacity: 0;
                left: 2 * $input-gutter-size;
            }
            .label {
                opacity: 1;
                left: $input-gutter-size;
            }
        }
    }
}