@import "constants";
@import "inputs";

body {
    font-family: sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, label {
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
}

.o-navbar {
    height: $navbar-height;
    background-color: $color-base;
    color: $color-text-light;
    line-height: $navbar-height - $navbar-padding-vertical;
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
    box-sizing: border-box;
}

.o-browse-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@mixin m-browse-tile-margin($margin) {
    width: calc(100% - #{$margin * 2});
    height: calc(100% - #{$margin * 2});
    margin: $margin;
}

.o-browse-tile {
    position: relative;
    width: 50vw;
    height: 50vw;

    @media (min-width: 300px) {
        width: 33.333vw;
        height: 33.333vw;
    }

    @media (min-width: 450px) {
        width: 25vw;
        height: 25vw;
    }

    @media (min-width: 750px) {
        width: 20vw;
        height: 20vw;
    }
    @media (min-width: 1200px) {
        width: 12.5vw;
        height: 12.5vw;
    }
    outline: none;
    cursor: pointer;
    color: #001A60!important;

    div {
        position: absolute;
        z-index: -1;
        @include m-browse-tile-margin(16px);
        background-color: #001A60;
        transition: opacity 250ms;
        opacity: 0;
        border-radius: 100%;
    }

    svg {
        position: absolute;
        @include m-browse-tile-margin(32px);
    }

    label {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: -16px;
        text-align: center;
        font-size: 12px;
        transition: bottom 250ms, opacity 250ms;
        opacity: 0;
    }

    &:hover, &:focus {
        div {
            opacity: 0.25;
        }
    }

    &:active, &.is-active {
        div {
            opacity: 0.5;
            transition: none;
        }
    }

    &:hover, &:focus, &:active, &.is-active {
        label {
            opacity: 1;
            bottom: 0px;
        }
    }
}